body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #230909;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background: #1a0406;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    color: #ffc5af;
}

.navs {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
}

.linki {
    color: #ffc5af;
    padding-right: 15px;
}

.search-btn input {
    padding: 5px;
    width: 300px;
    border: none;
    border-radius: 4px;
    background-color: #ffc5af;
    color: #260909;
    font-weight: bold;
}

.search-btn button {
    background-color: unset;
    border: none;
    padding-left: 5px;
    cursor: pointer;
}

.home-card {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.home-desc {
    text-align: center;
    color: #ffc5af;
    margin: 20px;
}

.about-page p{
    color: #ffc5af;
}
.about-page h3{
    color: #ffc5af;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: 33.33%;
    padding: 10px;
}

.box {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.box img {
    width: 100%;
    box-shadow: 0 2px 8px 0 rgba(34, 60, 80, 0.2);
}
.box img:hover{
    border: 2px solid #ffc5af;
    transition: 0.2s;
}

.box h2 {
    color: #ffc5af;
    text-align: center;
    font-size: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    color: #ffc5af;
    font-size: 28px;
    padding: 10px;
}

.card img {
    width: 450px;
    box-shadow: 0 1px 8px 0 rgba(34, 60, 80, 0.3);
}

.btn-back {
    background-color: unset;
    border: 1px solid #ffc5af;
    padding: 5px 15px;
    color: #ffc5af;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.drink-info {
    display: flex;
    gap: 45px;
}

.info-card {
    display: flex;
    justify-content: center;
}

.info-card h3 {
    text-align: center;
}

.ing-link {
    text-decoration: none;
    font-weight: bold;
    color: #ffc5af;
}
.img-info h2{
    padding-bottom: 10px;
    color: #ffc5af;
}
.img-info{
    width: 30%;
}
.frow{
    width: 70%;
}

.img-info img {
    width: 100%;
    box-shadow: 0 1px 8px 0 rgba(34, 60, 80, 0.3);
}

.img-ing {
    width: 150px;
}
.product{
    display: flex;
    justify-content: center;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
.product-card img{
    width:100%;
}
.product-card h2{
    color: #ffc5af;
}

footer {
    background-color:#1a0406;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer h5 {
    color: #ffc5af;
    font-size: 28px;
}

.footer p {
    color: #ffc5af;
}
